* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f9ff;
  color: #1e2a38;
  line-height: 1.6;
  justify-items: center;
}
.taille{
    margin-top: 30vh;
}



.container {
 max-width: 1100px;
 margin: auto ;
 padding: 40px 20px;
}
section{
    padding: 80px 0;
}

/* NAVBAR */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.nav{
  position: sticky;
  top:0;
  z-index: 1000;
  background-color: #f5f9ff;
  box-shadow:0px 5px 35px rgb(124, 124, 228);
  margin: 10px;
  border-radius: 90px;
}
a{
    color: black;
}

.nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #2b4eff;
  font-weight: 500;
}
a:hover{
    transform: translate(-6px);
    color: black;
}

/* HERO */
.hero {
  padding-top: 60px;
}

.text h1 {
  font-size: 40px;
  color: #2b4eff;
}

.text p {
  margin: 15px 0;
}
h1 span{
    color: rgb(211, 153, 83);
}

button {
  padding: 10px 20px;
  color: white;
  background-color: rgb(211, 153, 83);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

/* a propos */
#infosection {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}

.about-text {
  flex: 1;
}

.text h2 {
  margin-bottom: 20px;
}

.text p {
  margin-bottom: 15px;
}

.image {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.image img {
  width: 260px;
  border-radius: 50%;
  border: 5px solid #dbe6ff;
}

/* competences*/
.comp h2 {
  margin-bottom: 20px;
}

.comp {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  box-shadow: O 5px 15px rgba(0,0,0,0.05);

}
.card:hover{
   transform: translate(-6px);
}

.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  flex: 1;
  min-width: 150px;
  text-align: center;
  box-shadow:0px 5px 35px rgb(124, 124, 228);
}

/* PROJETS */
#projets{
gap: 20px;

}
.projet h2 {
  margin-bottom: 20px;
}

.projet {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow:0px 5px 35px rgb(124, 124, 228);
  
}
.projet:hover{
    transform: translate(-6px);
    
}

/* FOOTER */
footer {
  text-align: center;
  padding-top: 20px;
  color: gray;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .about-content {
    flex-direction: column;
    text-align: center;
  }

  .about-image {
    justify-content: center;
  }

  .nav {
    flex-direction: column;
    gap: 10px;

  }
}
/*formulaire*/
.form{
  justify-content: center;
  display: flexbox;
}
#contact{
  border: 3px solid;
  align-items: center;
  justify-content: center;
  padding: 50px 50px 50px 50px;
}

.image{
  background-image:url(moi.jpg);
  width: 800%;
  max-width: 800px;
  height: 300px;
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
}
.gap{
  gap: 90px;
}